# Environments
env/
venv/ 

# Django stuff:
*.log
db.sqlite3

# visual studio code workspace:
.vscode

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Backup files
*backup*

# Migrations
example/migrations/*
