{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "main.css" %}" type="text/css" media="screen" />
    {% block extra_head %}{% endblock %}
    <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
    {% block script %}{% endblock script %}
</head>
<body>
    <header>
        <h1>{% block header_text %}{% endblock %}</h1>
        {% if user.is_authenticated %}
            <div id="header">
                <div class="status">
                    <label>Logged in as </label>
                    <strong>{{name}}</strong>
                    <a class="indent" href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
        {% endif %}
    </header>
    <section>
        {% block content %}
        {% endblock %}
    </section>
    <section>
        {% block extra_body %}
        {% endblock %}
    </section>
</body>
</html>