{% extends "base.html" %}

{% block title %}MultiChat Example{% endblock %}
{% block extra_head %}
    <script>
        var socket = new WebSocket('ws://' + window.location.host );

        socket.onopen = function open() {console.log('WebSockets connection created.');};

        socket.onmessage = function message(event) {
            if (event.data =='clear'){
                document.getElementById("myTextarea").value='';
            }
            else{
                document.getElementById("myTextarea").value = document.getElementById("myTextarea").value+event.data+"\n";
            } 
        }; 

        function send(){
            var user = document.getElementById("user").value;
            var text = document.getElementById("myText").value; 
            message={"user":user,"text":text};
            socket.send(JSON.stringify(message));
        }
    </script> 
{% endblock %}
{% block script %}
  <script>
    
    var socketUserList = new WebSocket('ws://' + window.location.host +'/user_list/');

    socketUserList.onopen = function open() {
      console.log('User List WebSockets connection created.');
    };

    socketUserList.onmessage = function message(event) {
      var data = JSON.parse(event.data);
      // NOTE: We escape JavaScript to prevent XSS attacks.
      var username = encodeURI(data['username']);
      var user = $('li').filter(function () {
        return $(this).data('username') == username;
      });

      if (data['is_logged_in']) {
        user.html(username + ': Online');
        console.log(username + ': Online')
      }
      else {
        user.html(username + ': Offline');
      }
    };

    if (socketUserList.readyState == WebSocket.OPEN) {
        socketUserList.onopen();
    }
  </script>
{% endblock script %}
 
{% block header_text %}MultiChat Example{% endblock %}
{% block content %}
    <div>
        <label>Your Name</label>
    </div> 
    <div>
        <input type="text" id="user" style="margin-bottom: 10px;" readonly value={{name}}>
    </div>
    <div>
        <textarea rows="20" cols="100" id="myTextarea"></textarea>
    </div>
    <div>
        <input type="text" id="myText" value="Some text...">
        <button onclick="send()">Send</button> 
    </div> 
{% endblock %} 

{% block extra_body %}
<ul>
    {% for user in users %}
      <!-- NOTE: We escape HTML to prevent XSS attacks. -->
      <li data-username="{{ user.username|escape }}">
        {{ user.username|escape }}: {{ user.status|default:'Offline' }}
      </li>
    {% endfor %}
  </ul>
{% endblock %}
 
